
.main__app {
    background-color: #1b2021;
    min-height: 100%; 
    width: 100%;
    display:flex;
    flex: 1;
    flex-direction: column;
  }
  .mainApp__navbar {

    /* border-style: solid;
    border-width: '1px';
    border-color: red; */

  }
  .navbar__inner {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    margin-right: 20px;
    margin-left: 20px;
    margin-top: 20px;
  }
  .navbar__link {
    padding: 5px;
    margin-left: 10px;
    font-size: large;
    font-family: cursive;
    color: #89023e;
  }

  li {
    list-style-type: none;
    display: inline-block;
  }

  